.record-controls {
	margin: 50px auto;
	text-align: center;
}

.active {
	color: rgba(0, 0, 0, 0.5);
}

.buttons {
	text-align: center;
}

audio {
	display: none;
}

.navbar {
    position: relative;
    min-height: 50px;
    /* margin-bottom: 20px; */
    border: 1px solid transparent;
}

.nav {
	display: inline-flex;
	align-items: center;
	margin: 0px;
}

#container {
	padding: 0px;
	margin: 0px;
	width: auto;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
	height: auto;
  	width: 100vw;
	background-position: center;
	background-size:cover;
	background-repeat: no-repeat;
}

body {
  font-family: 'Khula', sans-serif;
}

.record-section {
  margin-top: 50px;
}

.cards-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.card {
  width: 300px;
  height: 350px;
  background: blue;
  margin: 20px;
}

.card-2 {
  background: green;
}

.logo {
  height: 90px;
}

.form-group {
  width: 300px;
  margin: 10px;
}

.center {
  text-align: center;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.alexa-logo {
  width: 100px;
  margin-top: 20px;
}
