.record-controls {
	margin: 50px auto;
	text-align: center;
}

.active {
	color: rgba(0, 0, 0, 0.5);
}

.buttons {
	text-align: center;
}

audio {
	display: none;
}

.navbar {
    position: relative;
    min-height: 50px;
    /* margin-bottom: 20px; */
    border: 1px solid transparent;
}

.nav {
	display: inline-flex;
	align-items: center;
	margin: 0px;
}

#container {
	padding: 0px;
	margin: 0px;
	width: auto;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
	height: auto;
  	width: 100vw;
	background-position: center;
	background-size:cover;
	background-repeat: no-repeat;
}
